@media (max-width: 640px) {
	* {
        /* style spécifique pour l'élément avec l'ID Block1 : position absolue, bloc en ligne avec marge interne, couleur de fond noire, bordure en pointillés, couleur de texte blanche, largeur et hauteur définies */
    #Block1 {
    left: 150px;
    top: 300px;
    width: 1000px;
    height: 710px;
    
  }
  
  /* style spécifique pour l'élément avec l'ID Block2 : position absolue, bloc en ligne avec marge interne, couleur de fond noire, bordure en pointillés, couleur de texte blanche, largeur et hauteur plus grandes */
  #Block2 {
    left: 150px;
    top: 1105px;
    width: 800px;
    height: 750px;
    padding: 30px;
  }

  /* style spécifique pour les liens dans l'élément avec l'ID page2 pointant vers "../page2/page2.html" : position absolue, couleur et position définies */
  #page1 a[href="../page1/page1.html"] {
    top: 155px;
    left: 30px;
  }
  
  /* style spécifique pour les liens dans l'élément avec l'ID page3 pointant vers "../page3/page3.html" : position absolue, couleur et position définies */
  #page2 a[href="../page2/page2.html"] {
    top: 2025px;
    left: 30px;
  }
}
}